@charset "UTF-8";

body {
  color: #444444;
  font-family: 'Noto Sans JP', sans-serif;
}

body, body h1 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

@media (max-width: 768px) {
  header > .header{
    margin-top: 20px;
  }
}

body h2 {
  font-size: 24px;
}

body p {
  font-size: 16px;
  line-height: 38px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

@media (max-width: 767px) {
  #header {
    padding: 20px 0;
  }
}

@media (max-width: 767px) {
  #header .top_logo {
    width: 50%;
  }
}

@media (max-width: 767px) {
  #header .top_logo img {
    width: 100%;
  }
}

#header .top_access {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (max-width: 767px) {
  #header .top_access {
    width: 45%;
    margin: 0 0 0 auto;
    text-align: right;
  }
}

#header .top_access .reception_time {
  font-size: 14px;
  padding-bottom: 10px;
}

@media (max-width: 767px) {
  #header .top_access .reception_time {
    font-size: 14px;
    padding: 0;
  }
}

.telephone {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .telephone svg {
    width: 16px;
  }
}

.telephone .tel {
  margin: 0;
  font-size: 24px;
  padding-left: 5px;
}

@media (max-width: 767px) {
  .telephone .tel {
    font-size: 14px;
  }
}

.telephone .tel a {
  text-decoration: none;
  font-weight: bold;
  color: #21A937;
}

.top_mv {
  position: relative;
}

@media (max-width: 767px) {
  .top_mv {
    width: 100%;
    overflow: hidden;
  }
}

.top_mv img {
  width: 100%;
}

@media (max-width: 767px) {
  .top_mv img {
    width: 200%;
    margin-left: -18rem;
  }
}

.top_mv .top_text {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 5px;
}

@media (max-width: 767px) {
  .top_mv .top_text {
    font-size: 14px;
    top: 5%;
    left: 5%;
    flex-direction: row;
    display: block;
    margin-top: 200px;
  }
}

.top_mv .top_text .inner_text {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  background: white;
  height: 50%;
  padding: 2rem;
}

@media (max-width: 767px) {
  .top_mv .top_text .inner_text {
    writing-mode: horizontal-tb;
    height: 35%;
    padding: 0;
    background: rgba(255, 255, 255, 0.5);
  }
}

.top_mv .top_text .inner_text:nth-child(1) {
  margin-left: 5rem;
}

@media (max-width: 767px) {
  .top_mv .top_text .inner_text:nth-child(1) {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

.top_mv .top_text .inner_text .t_color {
  color: #21A937;
}

.container {
  width: 62%;
  margin: 20px auto 0 auto;
}

@media (max-width: 767px) {
  .container {
    width: 90%;
    display: block;
  }
}

.main_content {
  display: flex;
  height: 664px;
}

@media (max-width: 767px) {
  .main_content {
    height: auto;
  }
}

.main_content .text_block {
  width: 40%;
  margin-top: 160px;
}

@media (max-width: 767px) {
  .main_content .text_block {
    width: 90vw;
    margin-top: 10px;
  }
}

.main_content .text_block h2 {
  line-height: 56px;
}

@media (max-width: 767px) {
  .main_content .text_block h2 {
    width: 90vw;
    margin-bottom: 10rem;
    line-height: 1.7;
    text-align: center;
  }
}

.main_content .text_block p {
  font-size: 16px;
  width: 90%;
  margin-top: 37px;
}

@media (max-width: 767px) {
  .main_content .text_block p {
    width: 100%;
    font-size: 14px;
    padding-top: 5rem;
    padding-bottom: 1rem;
  }

  .main_content .text_block br {
    display: none;
  }
}

.main_content .main_img {
  width: 60%;
  margin-top: 162px;
}

@media (max-width: 767px) {
  .main_content .main_img {
    width: 100%;
    margin-left: -21rem;
    margin-top: 8rem;
  }
}

.main_content .main_img img {
  width: 100%;
}

.contents {
  background: #F5FCF8;
  text-align: center;
}

@media (max-width: 767px){
  .contents {
    padding-bottom: 30px;
  }
}

.contents .h2--treat {
  padding-top: 80px;
}

@media (max-width: 767px) {
  .contents .h2--treat {
    padding-top: 2rem;
  }
}

@media (max-width: 767px) {
  .contents .treat-explain {
    text-align: initial;
    width: 72%;
    margin: 0 auto;
    line-height: 1.7;
    padding-bottom: 2rem;
  }
}

.contents .treatment {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .contents .treatment {
    flex-direction: column;
  }
}

.contents .treatment .content {
  width: 32%;
  margin-top: 33px;
  border: 2px solid #C9C9C9;
  margin-right: 10px;
  padding: 0 24px;
  height: 590px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .contents .treatment .content {
    width: 100%;
    padding: 0;
    margin: 0 auto 2rem;
    height: auto;
  }
}

.contents .treatment .content .content-title {
  padding: 40px;
}

@media (max-width: 767px) {
  .contents .treatment .content .content-title {
    margin: 0;
    padding: 2rem 0;
    font-size: 16px;
  }
}

.contents .treatment .content .content-text p {
  font-size: 16px;
  text-align: left;
}

@media (max-width: 767px) {
  .contents .treatment .content .content-text {
    margin: 0 auto;
  }

  .contents .treatment .content .content-text p {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
  }

  .contents .treatment .content .content-text br{
    display: none;
  }
}

@media (max-width: 767px) {
  .contents .treatment .content .content-img {
    padding-top: 2rem;
  }
}

.h2--news {
  padding-top: 80px;
}

.news-list {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 30px;
  opacity: 1;
  margin-top: 70px;
  text-align: center;
  padding: 40px 0;
}

@media (max-width: 767px) {
  .h2--news {
    padding-top: 0px;
  }

  .news-list {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

table {
  font-size: 16px;
  line-height: 50px;
  margin: 0 auto;
}

table tr {
  font-weight: normal;
}

table tr td {
  border-bottom: 1px solid #00000029;
  letter-spacing: 0px;
  padding-left: 30px;
}

table tr td .category {
  background: #000;
  color: #fff;
  line-height: 12px;
}

table tr .td--date {
  color: #21A937;
}

table tr .td--text {
  text-align: initial;
}

.show_all {
  padding-top: 30px;
  text-align: end;
  padding-right: 60px;
}

.show_all a {
  color: #000;
  text-decoration: none;
  display: inline-block;
}

@media (max-width: 767px) {
  table {
    font-size: 12px;
    margin: 0 auto;
    line-height: 1.7;
  }
  
  table tr td {
    border-bottom: 1px solid #00000029;
    letter-spacing: 0px;
    padding-left: 5px;
  }
  
  table tr td .category {
    background: #000;
    color: #fff;
  }
  
  table tr .td--date {
    color: #21A937;
  }
  
  table tr .td--text {
    text-align: initial;
    width: 60%;
    line-height: 3em;
  }

  .show_all {
    padding-top: 10px;
    padding-right: 0;
    text-align: center;
  }

  .show_all a {
    font-size: 10px;
  }
}

.footer {
  display: flex;
  padding: 12rem 0 10rem;
}

@media (max-width: 767px) {
  .footer {
    padding: 4rem 0 2rem;
    flex-direction: column-reverse;
  }
}

.footer .map {
  width: 600px;
  height: 440px;
}

@media (max-width: 767px) {
  .footer .map {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .footer .map iframe {
    width: 100%;
  }
}

.footer .information {
  padding-left: 2rem;
  width: calc(100% - 600px - 2rem);
}

@media (max-width: 767px) {
  .footer .information {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .footer .information .footer_logo {
    text-align: center;
  }
}

.footer .information .address {
  display: flex;
}

@media (max-width: 767px) {
  .footer .information .address {
    justify-content: center;
  }
}

.footer .information .address .post {
  padding-right: 1rem;
}

@media (max-width: 767px) {
  .footer .information .address .post {
    margin: 1rem 0 0;
  }
}

@media (max-width: 767px) {
  .footer .information .address .location {
    margin: 1rem 0 0;
  }
}

.footer .info_detail {
  border-bottom: 2px solid #E7E7E7;
  border-top: 2px solid #E7E7E7;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.footer .info_detail .info_block {
  display: flex;
  padding-top: 1rem;
}

.footer .info_detail .info_block .info_name, .footer .info_detail .info_block .weekday, .footer .info_detail .info_block .time_am, .footer .info_detail .info_block .time_pm, .footer .info_detail .info_block .holiday {
  margin: 0;
  font-size: 14px;
}

.footer .info_detail .info_block .info_name {
  width: 17%;
}

@media (max-width: 767px) {
  .footer .info_detail .info_block .info_name {
    width: 25%;
  }
}

.footer .info_detail .info_block .time_am {
  padding-right: 2rem;
}

@media (max-width: 767px) {
  .footer .info_detail .info_block .time_am {
    padding-right: 1rem;
    line-height: 1.7;
  }
}

@media (max-width: 767px) {
  .footer .info_detail .info_block .time_pm {
    line-height: 1.7;
  }
}

@media (max-width: 767px) {
  .footer .info_detail .info_block .sm {
    width: 21.5%;
  }
}

.footer .info_detail .info_block .info_week {
  padding-left: 2rem;
  border-left: 2px solid #E7E7E7;
}

@media (max-width: 767px) {
  .footer .info_detail .info_block .info_week {
    padding-left: 1rem;
  }
}

.footer .info_detail .info_block .info_week .time_detail {
  display: flex;
}

@media (max-width: 767px) {
  .footer .info_detail .info_block .info_week .time_detail {
    padding-bottom: 1rem;
  }
}

.footer .info_detail .info_block .info_week .time_detail .weekday {
  margin-right: 2rem;
  position: relative;
}

@media (max-width: 767px) {
  .footer .info_detail .info_block .info_week .time_detail .weekday {
    width: 40%;
    margin: 0;
  }
}

.footer .info_detail .info_block .info_week .time_detail .weekday::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 12px;
  background: #99E5A5;
  z-index: -1;
}

@media (max-width: 767px) {
  .footer .info_detail .info_block .info_week .time_detail .weekday::after {
    width: 65%;
    bottom: 20px;
  }
}

.copyright {
  text-align: right;
  margin-top: -12rem;
  font-size: 11px;
}

@media (max-width: 767px) {
  .copyright {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 12px;
    padding: 1rem 0;
    background: #F5FCF8;
  }
}
