body h2 {
  font-size: 24px;
}

body p {
  font-size: 16px;
  line-height: 38px;
}

.container {
  width: 62%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    width: 90%;
    display: block;
  }
}

.container .h2--treat {
  padding-top: 80px;
}

.container .treatment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .treatment .content {
  width: 32%;
  margin-top: 33px;
  border: 2px solid #C9C9C9;
  margin-right: 10px;
  padding: 0 24px;
  height: 590px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .container .treatment .content {
    width: 100%;
    border: none;
    margin-bottom: 20px;
  }
}

.container .treatment .content .content-title {
  padding: 40px;
}

.container .treatment .content .content-text {
  margin: 0 auto;
}

.container .treatment .content .content-text p {
  font-size: 16px;
  text-align: left;
}

.main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 664px;
}

.main_content .text_block {
  width: 40%;
  margin-top: 160px;
}

@media (max-width: 767px) {
  .main_content .text_block {
    width: 100%;
    margin-top: 10px;
  }
  .main_content .text_block p {
    margin-top: 0;
  }
}

.main_content .text_block h2 {
  line-height: 56px;
}

.main_content .text_block p {
  font-size: 16px;
  width: 90%;
  margin-top: 37px;
}

.contents {
  height: 1520px;
  background: #F5FCF8;
  text-align: center;
}

.contents .h2--news {
  padding-top: 80px;
}

.news-list {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 30px;
  opacity: 1;
  margin-top: 70px;
  text-align: center;
  padding: 40px 0;
}

table {
  font-size: 16px;
  line-height: 50px;
  margin: 0 auto;
}

table tr {
  font-weight: normal;
}

table tr td {
  border-bottom: 1px solid #00000029;
  letter-spacing: 0px;
  padding-left: 30px;
}

table tr td .category {
  background: #000;
  color: #fff;
  line-height: 12px;
}

table tr .td--date {
  color: #21A937;
}

table tr .td--text {
  text-align: initial;
}

.show_all {
  padding-top: 30px;
  text-align: end;
  padding-right: 60px;
}

.show_all a {
  color: #000;
  text-decoration: none;
  display: inline-block;
}

.main_img {
  width: 60%;
  margin-top: 162px;
}

.main_img img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .main_content {
    display: block;
    height: 500px;
  }
  .main_img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .main-photo {
    width: 100%;
  }
  .h2--treat {
    padding-top: 100px;
  }
  .treatment {
    display: block;
  }
  .contents {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=style.css.map */