body {
  color: #444444;
  font-family: 'Noto Sans JP', sans-serif;
}

body, body h1 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body h2 {
  font-size: 24px;
}

body p {
  font-size: 16px;
  line-height: 38px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.header .top_access {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header .top_access .reception_time {
  font-size: 14px;
  padding-bottom: 10px;
}

.telephone {
  display: flex;
  align-items: center;
}

.telephone .tel {
  margin: 0;
  font-size: 24px;
  padding-left: 5px;
}

.telephone .tel a {
  text-decoration: none;
  font-weight: bold;
  color: #21A937;
}

.top_mv {
  position: relative;
}

.top_mv img {
  width: 100%;
}

.top_mv .top_text {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 5px;
}

.top_mv .top_text .inner_text {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  background: white;
  height: 50%;
  padding: 2rem 2rem 0;
}

.top_mv .top_text .inner_text:nth-child(1) {
  margin-left: 5rem;
}

.top_mv .top_text .inner_text .t_color {
  color: #21A937;
}

.container {
  width: 62%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    width: 90%;
    display: block;
  }
}

.container .h2--treat {
  padding-top: 80px;
}

.container .treatment {
  display: flex;
  justify-content: space-between;
}

.container .treatment .content {
  width: 32%;
  margin-top: 33px;
  border: 2px solid #C9C9C9;
  margin-right: 10px;
  padding: 0 24px;
  height: 590px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .container .treatment .content {
    width: 100%;
    border: none;
    margin-bottom: 20px;
  }
}

.container .treatment .content .content-title {
  padding: 40px;
}

.container .treatment .content .content-text {
  margin: 0 auto;
}

.container .treatment .content .content-text p {
  font-size: 16px;
  text-align: left;
}

.main_content {
  display: flex;
  height: 664px;
}

.main_content .text_block {
  width: 40%;
  margin-top: 160px;
}

@media (max-width: 767px) {
  .main_content .text_block {
    width: 100%;
    margin-top: 10px;
  }
  .main_content .text_block p {
    margin-top: 0;
  }
}

.main_content .text_block h2 {
  line-height: 56px;
}

.main_content .text_block p {
  font-size: 16px;
  width: 90%;
  margin-top: 37px;
}

.contents {
  height: 1520px;
  background: #F5FCF8;
  text-align: center;
}

.contents .h2--news {
  padding-top: 80px;
}

.news-list {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 30px;
  opacity: 1;
  margin-top: 70px;
  text-align: center;
  padding: 40px 0;
}

table {
  font-size: 16px;
  line-height: 50px;
  margin: 0 auto;
}

table tr {
  font-weight: normal;
}

table tr td {
  border-bottom: 1px solid #00000029;
  letter-spacing: 0px;
  padding-left: 30px;
}

table tr td .category {
  background: #000;
  color: #fff;
  line-height: 12px;
}

table tr .td--date {
  color: #21A937;
}

table tr .td--text {
  text-align: initial;
}

.show_all {
  padding-top: 30px;
  text-align: end;
  padding-right: 60px;
}

.show_all a {
  color: #000;
  text-decoration: none;
  display: inline-block;
}

.main_img {
  width: 60%;
  margin-top: 162px;
}

.main_img img {
  width: 100%;
}

.footer {
  display: flex;
  padding: 12rem 0 10rem;
}

.footer .map {
  width: 600px;
  height: 440px;
}

.footer .information {
  padding-left: 2rem;
  width: calc(100% - 600px - 2rem);
}

.footer .information .address {
  display: flex;
}

.footer .information .address .post {
  padding-right: 1rem;
}

.footer .info_detail {
  border-bottom: 2px solid #E7E7E7;
  border-top: 2px solid #E7E7E7;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.footer .info_detail .info_block {
  display: flex;
  padding-top: 1rem;
}

.footer .info_detail .info_block .info_name, .footer .info_detail .info_block .weekday, .footer .info_detail .info_block .time_am, .footer .info_detail .info_block .time_pm, .footer .info_detail .info_block .holiday {
  margin: 0;
  font-size: 14px;
}

.footer .info_detail .info_block .info_name {
  width: 17%;
}

.footer .info_detail .info_block .time_am {
  padding-right: 2rem;
}

.footer .info_detail .info_block .info_week {
  padding-left: 2rem;
  border-left: 2px solid #E7E7E7;
}

.footer .info_detail .info_block .info_week .time_detail {
  display: flex;
}

.footer .info_detail .info_block .info_week .time_detail .weekday {
  margin-right: 2rem;
  position: relative;
}

.footer .info_detail .info_block .info_week .time_detail .weekday::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 12px;
  background: #99E5A5;
  z-index: -1;
}

.copyright {
  text-align: right;
  margin-top: -12rem;
  font-size: 11px;
}
