body{
	h2{
		font-size: 24px;
	}
	p{
		font-size: 16px;
		line-height: 38px;
	}
}

.container{
	width: 62%;
	margin: 0 auto;
		@media(max-width:767px){
			width: 90%;
			display: block;
		}
	.h2--treat{
		padding-top: 80px;
	}
	.treatment{
		display: flex;
		justify-content: space-between;
		.content{
			width: 32%;
			margin-top: 33px;
			border: 2px solid #C9C9C9;
			margin-right: 10px;
			padding: 0 24px;
			height: 590px;
			background: #FFFFFF;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			@media(max-width:767px){
				width: 100%;
				border: none;
				margin-bottom: 20px;
			}
			.content-title{
				padding: 40px;
			}
			.content-text {
				margin: 0 auto;
				p{
					font-size: 16px;
					text-align: left;
				}
			}
		}
	}
}

.main_content {
	display: flex;
	height:664px;
	.text_block {
		width: 40%;
		margin-top: 160px;
		@media(max-width:767px) {
			width: 100%;
			margin-top: 10px;
			p{
				margin-top: 0;
		}
	}
		h2{
			line-height: 56px;
		}
		p{
			font-size: 16px;
			width: 90%;
			margin-top: 37px;
		}
	}
}

.contents{
	height: 1520px;
	background: #F5FCF8;
	text-align: center;
	.h2--news{
		padding-top: 80px;
	}
}

.news-list{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 30px;
	opacity: 1;
	margin-top: 70px;
	text-align: center;
	padding: 40px 0;
}

table {
	font-size: 16px;
	line-height: 50px;
	margin: 0 auto;
	tr{
		font-weight: normal;
		td{
			border-bottom: 1px solid #00000029;
			letter-spacing: 0px;
			padding-left: 30px;
			.category{
				background: #000;
				color: #fff;
				line-height: 12px;
			}
		}
		.td--date{
			color: #21A937;
		}
		.td--text{
			text-align: initial;
		}
	}
}

.show_all{
	padding-top: 30px;
	text-align: end;
	padding-right: 60px;
	a{
		color: #000;
		text-decoration: none;
		display: inline-block;
	}
}

.main_img {
	width: 60%;
	margin-top: 162px;
	img{
		width: 100%;
	}
}

@media screen and (max-width:600px){

	.main_content {
			display: block;
			height: 500px;
	}

	.main_img {
			width: 100%;
			margin-top: 20px;
			margin-bottom: 10px;
	}

	.main-photo {
			width: 100%;
	}

	.h2--treat {
			padding-top: 100px;
	}

	.treatment{
			display: block;
	}

	.contents{
			margin-top: 30px;
	}
}