body{
	color: #444444;
	font-family: 'Noto Sans JP', sans-serif;
	& ,h1 {
		margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	}
	h2{
		font-size: 24px;
	}
	p{
		font-size: 16px;
		line-height: 38px;
	}
}

//---------- Header ----------//
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
	.top_access {
		display: flex;
    flex-direction: column;
    align-items: flex-end;
		.reception_time {
			font-size: 14px;
			padding-bottom: 10px;
		}
	}
}

.telephone {
	display: flex;
	align-items: center;
	.tel {
		margin: 0;
		font-size: 24px;
		padding-left: 5px;
		a {
			text-decoration: none;
			font-weight: bold;
			color: #21A937;
		}
	}
}

.top_mv {
	position: relative;
	img {
		width: 100%;
	}
	.top_text {
		display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 5px;
		.inner_text {
			writing-mode: vertical-rl;
			-webkit-writing-mode: vertical-rl;
			-moz-writing-mode: vertical-rl;
			-ms-writing-mode: vertical-rl;
			background: white;
			height: 50%;
			padding: 2rem 2rem 0;
			&:nth-child(1) {
				margin-left: 5rem;
			}
			.t_color {
				color: #21A937;
			}
		}
	}
}

// -webkit- …… Google Chrome、Safari
// -moz-    …… Firefox
// -o-      …… Opera
// -ms-     …… Internet Explorer

//---------- Main ----------//
.container{
	width: 62%;
	margin: 0 auto;
		@media(max-width:767px){
			width: 90%;
			display: block;
		}
	.h2--treat{
		padding-top: 80px;
	}
	.treatment{
		display: flex;
		justify-content: space-between;
		.content{
			width: 32%;
			margin-top: 33px;
			border: 2px solid #C9C9C9;
			margin-right: 10px;
			padding: 0 24px;
			height: 590px;
			background: #FFFFFF;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			@media(max-width:767px){
				width: 100%;
				border: none;
				margin-bottom: 20px;
			}
			.content-title{
				padding: 40px;
			}
			.content-text {
				margin: 0 auto;
				p{
					font-size: 16px;
					text-align: left;
				}
			}
		}
	}
}

.main_content {
	display: flex;
	height:664px;
	.text_block {
		width: 40%;
		margin-top: 160px;
		@media(max-width:767px) {
			width: 100%;
			margin-top: 10px;
			p{
				margin-top: 0;
		}
	}
		h2{
			line-height: 56px;
		}
		p{
			font-size: 16px;
			width: 90%;
			margin-top: 37px;
		}
	}
}

.contents{
	height: 1520px;
	background: #F5FCF8;
	text-align: center;
	.h2--news{
		padding-top: 80px;
	}
}

.news-list{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 30px;
	opacity: 1;
	margin-top: 70px;
	text-align: center;
	padding: 40px 0;
}

table {
	font-size: 16px;
	line-height: 50px;
	margin: 0 auto;
	tr{
		font-weight: normal;
		td{
			border-bottom: 1px solid #00000029;
			letter-spacing: 0px;
			padding-left: 30px;
			.category{
				background: #000;
				color: #fff;
				line-height: 12px;
			}
		}
		.td--date{
			color: #21A937;
		}
		.td--text{
			text-align: initial;
		}
	}
}

.show_all{
	padding-top: 30px;
	text-align: end;
	padding-right: 60px;
	a{
		color: #000;
		text-decoration: none;
		display: inline-block;
	}
}

.main_img {
	width: 60%;
	margin-top: 162px;
	img{
		width: 100%;
	}
}

//---------- Footer ----------//
.footer {
	display: flex;
	padding: 12rem 0 10rem;
	.map {
		width: 600px;
    height: 440px;
	}
	.information {
		padding-left: 2rem;
		width: calc(100% - 600px - 2rem);
		.address {
			display: flex;
			.post {
				padding-right: 1rem;
			}
		}
	}
	.info_detail {
		border-bottom: 2px solid #E7E7E7;
    border-top: 2px solid #E7E7E7;
    padding-bottom: 1rem;
    margin-top: 1rem;
		.info_block {
			display: flex;
			padding-top: 1rem;
			.info_name,.weekday,.time_am,.time_pm,.holiday {
				margin: 0;
				font-size: 14px;
			}
			.info_name {
				width: 17%;
			}
			.time_am {
				padding-right: 2rem;
			}
			.info_week {
				padding-left: 2rem;
    		border-left: 2px solid #E7E7E7;
				.time_detail {
					display: flex;
					.weekday {
						margin-right: 2rem;
						position: relative;
						&::after {
							content: "";
							display: block;
							position: absolute;
							width: 100%;
							height: 4px;
							left: 0;
							bottom: 12px;
							background: #99E5A5;
							z-index: -1;
						}
					}
				}
			}
		}
	}
}

.copyright {
	text-align: right;
	margin-top: -12rem;
	font-size: 11px;
}